@font-face {
  font-family: "NavFont";
  src: url("../../static/fonts/Nunito-SemiBold.ttf");
}

.my-navbar {
  background-color: #27536b;
  font-family: NavFont;
}

.github-button {
  width: 40px;
  height: 40px;
}