<nav id="sidebar-icon-links">
    <a id="github-link"
        class="icon" title="Github Project" aria-label="Github Project"
        href="{{ site.github.repo }}">
        {% include svg/github.svg %}
    </a>
    <a id="facebook-link"
        class="icon" title="Facebook" aria-label="Facebook"
        href="https://www.facebook.com/huutam.latui">
        {% include svg/facebook.svg %}
    </a>
    <a id="gmail-link"
        class="icon" title="Gmail" aria-label="Gmail"
        href="mailto:huutamnguyen2302@gmail.com">
        {% include svg/mail.svg %}
    </a>
    <a id="gmail-link"
        class="icon" title="Linkedin" aria-label="Linkedin"
        href="https://www.linkedin.com/in/tam-nguyen-2268bb128/">
        {% include svg/linkedin.svg %}
    </a>
  </nav>