#about-me {
  
}

.about-me-dialog {
  font-size: 18px;
  line-height: 25.5px;
}

.my-avatar-holder {
  text-align: center;
}

.my-avatar {
  width: 400px;
}

.my-avatar-caption {
  text-align: left;
  width: 400px;
}
