.my-common-header {
  color: rgb(58, 99, 163);
  font-weight: 700 !important;
  border-bottom: 2px solid rgb(109, 125, 165);
}

.common-section-container {
  padding: 10vh 8vw 10vh 8vw;
  text-align: left;
}

.common-content {
  padding: 2rem 0 2rem 0;
}
