.item {
    background: #fff;
    -webkit-box-shadow: -30px -30px 40px -20px rgba(0,0,0,.05);
    box-shadow: -30px -30px 40px -20px rgba(0,0,0,.05);
    position: relative;
    z-index: 2;
    outline: none;
    border-bottom-style: none;
    border-right-style: none;
}